.single-data-style{
    background-color: rgba(53, 250, 250,0.3);
    border-radius: 10px;
}
.single-data-style img{
    width: 200px;
    height: 200px;
    margin: 5px auto;
    border-radius: 50%;
    padding: 4px;
    box-shadow: 0 20px 10px -20px rgba(0,0,0,0.45) inset, 0 -20px 10px -20px rgba(0,0,0,0.45) inset;
    /* margin: ; */
    /* box-shadow: -10px 0 10px -15px rgba(0,0,0,0.45) inset; */
}
.single-data-style .button{
    background-color: rgba(53, 250, 250,0.7);    
    padding: 2px;
    margin-top: 5px;
}