.active{
    color: red;
    margin: 0 10px;
    padding: 3px 15px;
    border-radius: 2px;
    /* border: 1px solid aqua; */
    /* box-shadow: ; */
}
.normal {
    margin: 0 10px;
    padding: 3px 15px;
}